div#border
{
	width: 100%;
	border: 2px black solid;
}
p#tytul1
{
	text-align:center;
	font-size:50px;
	color: LightSalmon;
}
p#tytul2
{
	text-align:right;
	font-size:50px;
	color:SeaGreen;
}
p#zdaniepie
{
	text-align:center;
    font-style:Italic;
	font-weight: 200;
	font-size: large;
	font-family: Serif;
	color: Coral;
	text-indent: 2cm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:5ex;
}
p#zdaniedru
{
	text-align:center;
	text-decoration: overline;
	font-weight: 700;
	font-size: x-small;
	font-family: Serif;
	color:#FF4500;
	text-indent: 2cm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:5ex;
}
p#zdanietrz
{
	text-align:center;
	font-variant: small-caps;
	text-transform: lowercase;
	font-weight: 900;
	font-size: medium;
	font-family: Serif;
	color: #FF8C00;
	text-indent: 2cm;
	line-height: 1cm;
	word-spacing: 12px;
	letter-spacing:5ex;
}
p#zdaniepied
{
	text-align:right;
    font-style: Oblique;
	font-weight: 300;
	font-size: 50px;
	font-family: Sans-Serif;
	color: teal;
	text-indent: 25mm;
	line-height: 15mm;
	word-spacing: 10pt;
	letter-spacing:5mm;
}
p#zdaniedrud
{
	text-align:right;
	text-transform: lowercase;
	text-decoration:line-through;
	font-weight: 600;
	font-size: 1em;
	font-family: Sans-Serif;
	color: #008000;
	text-indent: 25mm;
	line-height: 15mm;
	word-spacing: 10pt;
	letter-spacing:5mm;
}
p#zdanietrzd
{
	text-align:right;
	text-transform:capitalize;
	font-weight: 800;
	font-size: 0.1in;
	font-family: Sans-Serif;
	color: #006400;
	text-indent: 25mm;
	line-height: 15mm;
	word-spacing: 10pt;
	letter-spacing:5mm;
}
